<%
    
%>
<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
  <a class="navbar-brand" href="#">Logo</a>
  <ul class="navbar-nav">
    <li class="nav-item active">
      <a class="nav-link" href="#">Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/scott/postList">My Posts</a>
    </li>
  </ul>
  <ul class="navbar-nav ml-auto">
    <div class="dropdown">
      <a class="btn btn-dark dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Welcome, <%= user %>
      </a>
    
      <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
        <a class="dropdown-item" href="/user/profile">Profile</a>
        <a class="dropdown-item" href="/user/logout">Logout</a>
      </div>
    </div>
  </ul>      
</nav>

<div class="container">
  <div class="row">

    <div class="col-md-3">
      
    </div>

    <div class="col-md-9">
      
    </div>
  </div>  
</div>

<%- contentFor('title') %>