@import url('https://fonts.googleapis.com/css?family=Poppins');

/* BASIC */


body {
  
  height: 100vh;
}


.navbar-dark .nav-item:hover {
    background-color: white;
  } 
  
  .navbar-dark .nav-item:hover .nav-link {
    color: black;
  }

  .navbar-dark .nav{
    background-color: teal;
  }
  .navbar-brand{
    padding-top: 0;
  }
  .bread
  {
    padding-top: 20px !important;
  }
  
  .card{
    margin: 10px;
  }
  .card-header{
    background-color: teal;
    color: white;
  }

  .wrapper {
    display: flex;
    align-items: center;
    flex-direction: column; 
    justify-content: center;
    width: 100%;
    min-height: 100%;
    padding: 20px;
  }
  .nav,
  .nav-bar,
  .card,
  .list-group,
  .breadcrumb{
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }

.card-post:hover{
  background-color: silver !important;
  cursor: pointer;
}
.card-body{
  border: 3px ;
}